h1 {
  color: aquamarine;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}
